* {
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    padding: 1em;
    background-color: #FCFCFC;
}

.search-box {
    display: flex;
    width: 100%;
}

#searchBar {
    width: 100%;
    margin: 1em 0 2em;
    padding: 0.8em;
    font-size: 0.8em;
    font-style: italic;
    border-radius: 5px;
    border: 1px #DFDFDF solid;
}

#searchBar:focus, #searchBar:hover {
    outline-color: lightgrey;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px #DFDFDF solid;
    border-radius: 5px;
    padding: 8px;
    max-width: 400px;
}

.card:hover {
    border-color: darkgrey;
    transform: scale(1.01);
    cursor: pointer;
}

.card h2 {
    font-size: 1.2em;
}

h1 {
    color: #404A51;
    font-weight: 600;
    font-size: 1.2em;
}

p {
    font-size: 0.8em;
    color: #8E9497;
}

.modal-content .text-container p {
    line-height: 1.5;
}

.name {
    color: #404A51;
    font-size: 1.3em;
}

.text-container {
    line-height: 0.8;
    margin: 10px;
}

.avatar {
    height: 110px;
    border-radius: 50%;
    margin: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 300px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-content .avatar {
    height: 160px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-weight: 700;
    background: none;
    border: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    position: absolute;
    cursor: pointer;
}
  
#right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 205px;
    right: 15px;
}

#right-arrow:hover, #left-arrow:hover {
    border-color: darkgrey;
}
  
#left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 205px;
    left: 15px;
}

hr {
    margin: 28px 0;
    color: #DADADA;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    place-content: center;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card {
        flex-direction: row;
        text-align: left;
    }

    .modal {
        width: 375px;
    }
}